{
	"editorconfig": true,
	"tabWidth": 2,
	"useTabs": false,
	"endOfLine": "lf",
	"printWidth": 100,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["**/*.astro"],
			"options": {
				"editorconfig": true,
				"parser": "vue",
				"tabWidth": 4,
				"semi": true
			}
		},
		{
			"files": ["*.md", "*.mdx"],
			"options": {
				"embeddedLanguageFormatting": "auto",
				"parser": "markdown",
				"quoteProps": "as-needed",
				"jsxSingleQuote": false
			}
		},
		{
			"files": ["*.jsx", "*.tsx"],
			"options": {
				"parser": "babel-ts",
				"singleAttributePerLine": true,
				"quoteProps": "as-needed",
				"jsxSingleQuote": false
			}
		},
		{
			"files": ["*.ts"],
			"options": {
				"tabWidth": 4,
				"useTabs": true,
				"bracketSpacing": true,
				"arrowParens": "always",
				"parser": "typescript"
			}
		},
		{
			"files": ["*rc", "*.json"],
			"options": {
				"parser": "json",
				"singleQuote": false
			}
		},
		{
			"files": [
				"*rc",
				"package.json",
				"tsconfig.json",
				"tsconfig.*",
				".prettierrc",
				".eslintrc"
			],
			"options": {
				"useTabs": true,
				"tabWidth": 4
			}
		}
	],
	"pluginSearchDirs": false
}
