{
	"editorconfig": true,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": false,
	"printWidth": 100,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["**/*.astro"],
			"options": {
				"editorconfig": true,
				"parser": "vue",
				"semi": true
			}
		}
	],
	"pluginSearchDirs": false
}
